<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>VAWebViewController</string>
		<string>VATabBarMaterial</string>
		<string>VATabBarMaterialSelected</string>
		<string>首页</string>
		<string>/vproject/demonstrationClass.html</string>
	</array>
	<array>
		<string>VAWebViewController</string>
		<string>VATabBarClass</string>
		<string>VATabBarClassSelected</string>
		<string>上课</string>
		<string>/lisener/index.html</string>
	</array>
	<array>
		<string>VAWebViewController</string>
		<string>VATabBarPersonal</string>
		<string>VATabBarPersonalSelected</string>
		<string>个人</string>
		<string>/vproject/memberCenter.html</string>
	</array>
</array>
</plist>
